In [1]:
import pandas as pd

data_df = pd.read_csv('test-synth.csv')
data_df.drop(columns=['Unnamed: 0'],inplace=True)

In [2]:
import pickle
#import any of the parameters that we require
with open("test-params.pkl", "rb") as input_file:
    params = pickle.load(input_file)

In [3]:
X = data_df.iloc[:,:-1]
y = data_df.iloc[:,-1]

In [4]:
from sklearn.model_selection import train_test_split
#split data into training & test sets according to the split defined in the parameters 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=params['split'], random_state=1234)

In [5]:
from FR import *

In [6]:
fr = featureReduction()

In [7]:
fr.threshold

0.7

In [8]:
fr.transform(X_train).head()

ValueError: No PCA's trained please run .fit() or .fit_transform()

In [9]:
fr.corrMat

In [10]:
fr.fit(X_train)

In [11]:
fr.corrMat

           f1        f2        f3        f4        f5   f6   f7   f8   f9  f10
f1   1.000000  0.824887  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
f2   0.824887  1.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
f3   0.000000  0.000000  1.000000  0.828324  0.000000  0.0  0.0  0.0  0.0  0.0
f4   0.000000  0.000000  0.828324  1.000000 -0.817745  0.0  0.0  0.0  0.0  0.0
f5   0.000000  0.000000  0.000000 -0.817745  1.000000  0.0  0.0  0.0  0.0  0.0
f6   0.000000  0.000000  0.000000  0.000000  0.000000  1.0  0.0  0.0  0.0  0.0
f7   0.000000  0.000000  0.000000  0.000000  0.000000  0.0  1.0  0.0  0.0  0.0
f8   0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  1.0  0.0  0.0
f9   0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  1.0  0.0
f10  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  1.0

In [12]:
X_train.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
67,0.360100,-0.444338,-1.861123,-1.911478,2.432397,-2.564269,-0.262084,-0.316684,0.502707,0.609544
352,0.251216,0.303208,-1.928254,-2.151148,1.796286,0.592381,-0.003771,-0.663174,-0.379179,1.928828
220,-0.884741,-1.738947,-1.135664,-2.024324,0.695184,-2.813485,-0.526751,0.499758,-0.008732,-0.384452
134,-1.453373,-1.018929,-0.735272,-1.643485,1.141454,-0.883124,-0.825496,0.683624,0.649816,0.998676
388,-0.282472,0.721647,0.566405,-0.687684,1.928504,2.899772,-1.336021,-0.290916,-0.628592,-0.337480

In [13]:
fr.transform(X_train).head()

      pca_0     pca_1        f6        f7        f8        f9       f10
0  0.167579  3.506578 -2.564269 -0.262084 -0.316684  0.502707  0.609544
1 -0.279082  3.402298  0.592381 -0.003771 -0.663174 -0.379179  1.928828
2  1.962895  2.371435 -2.813485 -0.526751  0.499758 -0.008732 -0.384452
3  1.863266  2.112519 -0.883124 -0.825496  0.683624  0.649816  0.998676
4 -0.192114  1.148773  2.899772 -1.336021 -0.290916 -0.628592 -0.337480

In [14]:
X_test.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
44,-0.594717,1.348760,-0.215252,0.475416,0.175412,0.062145,0.028704,-1.639676,1.455700,0.028441
110,1.746127,1.671138,1.126698,-0.184387,0.252176,-0.621657,0.039764,1.032437,0.282306,-0.699880
78,-0.282291,0.415704,1.839462,-0.515331,2.526730,-0.146502,-0.479803,-0.352256,-0.057437,0.696309
181,1.095316,0.795855,0.219851,2.094636,-2.596622,-0.426428,0.784836,-0.610745,-1.702829,0.074644
285,-0.703442,-0.331974,0.989064,0.893649,-0.084345,2.230462,1.262364,-0.876804,-0.675858,0.125123

In [15]:
fr.transform(X_test).head()

      pca_0     pca_1        f6        f7        f8        f9       f10
0 -0.409349 -0.122708  0.062145  0.028704 -1.639676  1.455700  0.028441
1 -2.304080 -0.308059 -0.621657  0.039764  1.032437  0.282306 -0.699880
2  0.022324  0.662677 -0.146502 -0.479803 -0.352256 -0.057437  0.696309
3 -1.226295 -2.836235 -0.426428  0.784836 -0.610745 -1.702829  0.074644
4  0.846905 -1.163474  2.230462  1.262364 -0.876804 -0.675858  0.125123